<head>
    <title>{{site.title}}</title>
    <meta charset="utf-8">
    <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet"> 
    <meta content="{{site.description}}" name="description"></meta>
    <meta content="{{site.owner}}" name="author"></meta>
    <meta content="Copyright 2017 {{site.owner}}. All rights reserved." name="copyright"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
