<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
    <title>
      {{ site.title }}
    </title>
    <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet"></link>
    <meta content="{{site.description}}" name="description"></meta>
    <meta content="de, at, ch, german" name="language"></meta>
    <meta content="{{site.owner}}" name="author"></meta>
    <meta content="Copyright 2017 {{site.owner}}. All rights reserved." name="copyright"></meta>
</head>
