body	{
	margin:0;
	padding:0;
	font-family: 'Cutive Mono', serif;
	font-size:100%;
	line-height:150%;
}



#main {
	width:1024px;
	height:640px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-320px;
	margin-left:-512px;
	#background-color: #f2f2f2;
}

#nav {
	width:512px;
	text-align:center;
	margin:auto;
	font-size:1.0em;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom: 1px solid #000;
}

#content-left {
	width:512px;
	text-align:left;
	margin:auto;
	font-size:1.0em;
	padding-top:5px;
	margin-bottom:20px;
	padding-bottom:20px;
}

#content {
	width:512px;
	text-align:center;
	margin:auto;
	font-size:1.0em;
	margin-top:20px;
	padding-top:20px;
	margin-bottom:20px;
	padding-bottom:20px;
}

#footer {
	width:512px;
	text-align:center;
	margin:auto;
	font-size:0.8em;
	margin-bottom:10px;
	padding-bottom:10px;
	border-top: 1px solid #000;
}

#license {
	margin-bottom:15px;
}


#logo	{
	width:512px;
	height: 60px;
	text-align:center;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
}

#claim	{
	width:1024px;
	height:auto;
	text-align:center;
	margin:0;
	font-size:1.0em;
}

#kontakt	{
	width:512px;
	text-align:center;
	margin:auto;
	font-size:1.0em;
	margin-top:50px;
	padding-top:50px;
	border-top: 1px solid #000;
}

#nav a:link, #nav a:visited	{
	text-decoration: none;
	color:#000
}
#nav a:hover	{
	text-decoration:underline;
}

#footer a:link, #footer a:visited	{
	text-decoration: none;
	color:#000
}
#footer a:hover	{
	text-decoration:underline;
}

#kontakt a:link, #kontakt a:visited	{
	text-decoration: underline;
	color:#000
}

#kontakt a:hover	{
	text-decoration:none
}

#post-short a:link, #post-short a:visited	{
	text-decoration: none;
	color:#000
}

#post-short a:hover	{
	text-decoration: underline;
}

#post-short h3	{
	margin-bottom: 0px;
}

#post-short i	{
	font-size:0.8em;
	color: grey;
}

#post h2	{
	margin-bottom: 0px;
}

#post i	{
	font-size:0.9em;
	color: grey;
}

#more {
	text-align: center;
}
